html,
body {
  scroll-behavior: smooth !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Helvetica Neue', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.web_video {
  opacity: 0.5;
}

.layout {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 3rem;
}

.video {
  opacity: 0.3;
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.speaker_card_image {
  z-index: 1 !important;
  border-radius: 8px !important;
}

.card-image {
  z-index: 1 !important;
  border-radius: 8px !important;
}
