html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.web_video {
  opacity: 0.2;
}

.layout {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 3rem;
}

.video {
  opacity: 0.3;
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
